@media only screen and (max-width:  1280px)
	.inner
		width auto
	#main 
		.item-page, .blog
			width auto
		.b2jcontainer
			
			width auto !important
			h2
				margin 0
			

			

@media only screen and (max-width: 800px)
	#main-header
		#logo
			margin-top 10px
			width 203px

		.right-info
			#menu
				font-size 12px
			
	#main 
		#tours, .item-page_tours_home, .blog-featured_tours_home
			position static
			ul 
				li 
					position static
					width 100%
					left 0 !important
					display block
					height 500px !important

					.tour-info
						position relative
						width 70%
						margin 0 auto
						right 0  
						h1
							font-size 18px
						p 
							font-family verdana
							line-height 18px
							font-size 13px
					.tour-title
						position relative
						width 100%
						top 100px
						padding .5em

						h1
							font-size 18px
						p
							font-size 13px

@media only screen and (max-width:  640px)
	#main-header
		#logo
			margin-top 5px
			width 160px
			
		.right-info
			float none

			#menu
				display none
			#redes
				//width 200px
				margin-top 10px

			#btn-reserve
				padding .5em
				font-size 16px
			#btn_nav
				position absolute
				top 75px
				left 5px
				padding 7px 10px 8px 8px
				background $amarillo 
				background-size 12px 9px
				display block
				cursor pointer
				font-size 14px

				span
					margin-right 5px
			#menu 
				margin-left 0
				top 110px
				left 0
				width 100%
				position absolute
				z-index 20
				background $naranja
				text-align left
				display none

				ul 
					padding 0
					margin 0

					li 
						//width 95%
						float none
						//border-bottom 1px solid #FFF
						background-size 13px 12px
						border-right none 

						a, span 
							padding 5px 5px 3px 5px
							background-position 9px 9px
							color #fff
						.active
							background-color transparent
							color #fff

	